<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <section name="systemManagerSetting" type="Sungero.Domain.Client.SystemManagerSettings, Sungero.Domain.Client" />
    <section name="systemLanguage" type="CommonLibrary.Settings.LanguageManager, CommonLibrary" />
    <section name="folderAutoUpdate" type="Sungero.Domain.Shared.FolderAutoUpdateSection, Sungero.Domain.Shared" />
    <section name="storageServiceClientSetting" type="Sungero.Domain.Shared.StorageServiceClientSetting, Sungero.StorageServices.Client" />
    <section name="showEntitiesInServerModeSetting" type="Sungero.Presentation.ShowEntitiesInServerModeSetting, Sungero.Presentation" />
    <section name="viewSettings" type="Sungero.Presentation.ViewSettingsConfigSection, Sungero.Presentation" />
    <section name="traceSettings" type="Sungero.Services.Shared.TraceSettingsConfigSection, Sungero.Services.Shared" />
    <section name="viewCache" type="Sungero.Presentation.ViewCacheSetting, Sungero.Presentation" />
    <section name="helpContextSettings" type="Sungero.Presentation.HelpContextSettings, Sungero.Presentation" />
    <section name="authenticationSettings" type="Sungero.Domain.Client.AuthenticationSettings, Sungero.Domain.Client" />
  </configSections>
  <!--{@language=LANGUAGE @logLanguage=LOG_LANGUAGE}-->
  <systemLanguage logLanguage="ru" language="ru" />
  <viewSettings path="ViewSettingsDevelop" />
  <!--{@storageServiceProtocol=STORAGE_SERVICE_PROTOCOL}-->
  <storageServiceClientSetting storageServiceProtocol="https" />
  <showEntitiesInServerModeSetting showInServerMode="true" />
  <!--{@trafficTraceEnabled=TRAFFIC_TRACE_ENABLED}-->
  <traceSettings trafficTraceEnabled="false" fullMessageWriteDirectory="%APPDATA%\DIRECTUM Company\DrxTransfer\Logs\Traffic" />
  <folderAutoUpdate period="00:10:00" />
  <viewCache cacheSize="10" explorerCacheSize="20" />
  <!--{@isWindowsAuthenticationAccepted=IS_WINDOWS_AUTHENTICATION_ACCEPTED}-->
  <authenticationSettings isWindowsAuthenticationAccepted="true" />
  <appSettings>
    <!--{@value=TENANT}-->
    <add key="tenant" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <systemManagerSetting>
    <systems>
      <!--{@system.name=$replace("DrxUtil",SYSTEM_NAME)}-->
      <!--{@system.name=$replace-if($equals(SERVER_PROTOCOL,"http"),"Https","Http")}-->
      <!--{@endpoint.Value=$replace-if($equals(SERVER_PROTOCOL,"http"),"Https","Http")}-->
      <system name="DrxUtilHttps" isDefault="true">
        <endpoints>
          <endpoint Name="commonServiceEndpointName" Value="HttpsCommonServiceWA" />
          <endpoint Name="commonServiceEndpointNamePassword" Value="HttpsCommonServicePW" />
          <endpoint Name="dataServiceEndpointName" Value="HttpsDataServiceWA" />
          <endpoint Name="dataServiceEndpointNamePassword" Value="HttpsDataServicePW" />
          <endpoint Name="deployServiceEndpointName" Value="HttpsDeployServiceWA" />
          <endpoint Name="deployServiceEndpointNamePassword" Value="HttpsDeployServicePW" />
          <endpoint Name="reportServiceEndpointName" Value="HttpsReportServiceWA" />
          <endpoint Name="reportServiceEndpointNamePassword" Value="HttpsReportServicePW" />
        </endpoints>
      </system>
    </systems>
  </systemManagerSetting>
  <unity>
    <container name="dependency">
      <register type="Sungero.Metadata.Services.IMetadataService, Sungero.Metadata" mapTo="Sungero.Metadata.Services.MetadataServiceImplementer, Sungero.Metadata" />
    </container>
  </unity>
  <system.net>
    <settings>
      <performanceCounters enabled="false" />
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <client>
      <endpoint name="HttpLogService" binding="customBinding" bindingConfiguration="HttpLogServiceBinding" behaviorConfiguration="RemoteLoggingBehavior" contract="NLog.LogReceiverService.ILogReceiverClient" />
      <endpoint name="HttpsLogService" binding="customBinding" bindingConfiguration="HttpsLogServiceBinding" behaviorConfiguration="RemoteLoggingBehavior" contract="NLog.LogReceiverService.ILogReceiverClient" />
    </client>
    <bindings>
      <customBinding>
        <binding name="HttpLogServiceBinding">
          <binaryMessageEncoding compressionFormat="GZip" />
          <httpTransport />
        </binding>
        <binding name="HttpsLogServiceBinding">
          <binaryMessageEncoding compressionFormat="GZip" />
          <sslStreamSecurity requireClientCertificate="false" />
          <httpsTransport requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="RemoteLogging" type="Sungero.Domain.Client.Logging.RemoteLoggingBehavior, Sungero.Domain.Client" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RemoteLoggingBehavior">
          <RemoteLogging />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>